<!DOCTYPE html>
<html>
    <body bgcolor=#d4a3ae>

    <center>

        <h1> <b><font color="red"><u>ఉండ్రాజవరం దండుపాళ్యం ముఠా</u></font></b>   </h1><br>

        <div class="row">
            <img src='static\dandupalyam1.jpg' alt="murthy" style="width:20%">
            <img src='static\dandupalyam2.jpg' alt="manju" style="width:20%">
        </div>


        <h2>
            మీ అందరికి తెలియ జేయడం ఏమనగా ..ఇటీ వల జరిగిన ఒక సంఘటన గురించి ఉండ్రాజవరం విశ్వ బ్రాహ్మణ సంఘం నాయకులూ అందరికి తెలియజేయమన్నారు. 
<font color="blue">అనుపోజుశ్రీరామమూర్తి</font> ఉండ్రాజవరం (తణుకు) వాస్తవ్యులు అయినా <font color="red">పెద్దకుమార్తె</font> 
<font color="blue">అనుపోజుమంజూష</font> కి వైజాగ్ వాస్తవ్యులు <font color="blue">కొమ్మోజునరేష్ కుమార్</font> తో ఫిబ్రవరి 3వ తేదీ న నిశ్చితార్థం జరిగింది. నిశ్చితార్థం అయిన నెల రోజుల తరువాత....ఈ పెళ్లి అమ్మాయికి ఇష్టం లేదని అబ్బాయితో చెప్పడంతో అబ్బాయి కుటుంబీకులు పెళ్లి రద్దు చేసుకున్నారు. కానీ ఈ విషయం ఉండ్రాజవరం సంఘం పెద్దలు దగ్గరకు రావడం తో అసలు నిజానిజాలు మరియు కారణం ఏమిటని ఆరాదిస్తే.....అనుపోజు శ్రీ రామ మూర్తి అయినా పెద్ద కుమార్తె 
<font color="blue">అనుపోజుమంజూష</font>  కు గత కొన్ని సంవత్సరం లుగా పలు అబ్బాయితో <font color="blue">వ్యవహారం(affair)</font> ఉందని మరియు ఈ అమ్మాయికి కడుపు కూడా వచ్చిందని, విషయం తెలిసిన తల్లితండ్రులు వెంటనే, పెద్ద అమ్మాయి అనుపోజు మంజూష కి గర్భస్రావం చేయించారు అని.. మన తణుకు విశ్వబ్రాహ్మణ సంఘం నాయకులకు అందరికి తెలిసింది మరియు ఈ అన్ని విషయాలు కూడా పెద్దలు సమక్షం లో కూడా రుజువు అయినవి. అలాగే ఇంటి దగ్గర ఉంటున్న సమాజం లో వారు కూడా ఈ అమ్మాయి గురించి ప్రతి ఒక్కరు పలు <font color="blue">వ్యవహారాలు(affairs)</font> చాలా ఉన్నాయని అలాగే ఇంకా చాలా చెడుగానే చెప్పారు. 
        <br>
        <br>
        <font color="red">అనుపోజు శ్రీ రామ మూర్తి గారు పెద్ద కుమార్తె అనుపోజు మంజూష చేసిన తప్పుని, తండ్రి ఒప్పుకోకుండా.. అబ్బాయి కుటుంభం వాళ్లదే తప్పు అని అబ్బాద్దం చెప్పి.. ఈ అమ్మాయి వాళ్ల కుటుంభం వారు అబ్బాయి వాళ్ల కుటుంబాన్ని పై చాలా దౌర్జన్యంగా ప్రావతించి మరియు వాళ్ళని కాసులు డిమాండ్ చేసారు. </font>
        <br>
        <br>
        ఇది ఎంత వరకు న్యాయం అని మన ఉండ్రాజవరం విశ్వబ్రాహ్మణ సంఘం నాయకులు మన విశ్వబ్రాహ్మినులు అందరిని అడుగుతున్నారు. ఈ రోజు ఒక అబ్బాయి కుటుంబానికి ఇలా అన్యాయం జరిగింది.. రేపు మీలో ఇంకొక కుటుంబానికి ఇదే అన్యాయం జరగదని హామీ ఏమైనా ఇవ్వ గలరా. కావున రేపు అనగా ఈ అనుపోజు శ్రీ రామ మూర్తి ఉండ్రాజవరం వాస్తవ్యులు వారి కుటుంభం నుండి వాళ్ల పెద్ద అమ్మాయి మంజూష పేరుతో అలాగే ఏ అమ్మాయి పేరు తో అయినా, ఏమైనా పెళ్లి సంబంధం మీకు వచ్చినచొ మీరు అందరు తస్మాత్ జాగ్రత్తగా ఉండాలని అందరికి తెలియజేయడాం జరిగింది.

        </h2>
        <h3>
                                ఇట్లు <br>
            ఉండ్రాజవరం పట్టణ మండల విశ్వబ్రాహ్మణ సంఘం 
        </h3>
    
<!-- <head>
    <meta charset="UTF-8">
    <title>Say Hello</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head> -->

    <!-- <img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png"> -->
    <!-- <br> -->
    <!-- <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        
        <br>
        <input type="submit" value="GREET" id="greet">
    </form> --> 
    </center>
</body>
</html>